<!DOCTYPE html>
<html lang="en">
<head>
	<title>LotR Card Game Help</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/style.css">
	<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
</head>
<body>
	<h1>Reference Links</h1>
	<ul>
		<li><a href="https://www.fantasyflightgames.com/en/products/the-lord-of-the-rings-the-card-game/" target="_blank">Fantasy Flight Games: The Lord of the Rings The Card Game</a></li>
		<li><a href="https://images-cdn.fantasyflightgames.com/filer_public/d0/de/d0de4155-2d2a-40dd-820d-f19f7bd75700/lotr_lcg_core_rules_eng_lo-res.pdf" target="_blank">Fantasy Flight Games: LotR Core Rules (2014.12.16)</a></li>
		<li><a href="https://images-cdn.fantasyflightgames.com/filer_public/16/2e/162ec99a-90fd-4c5f-8fac-6a0e6058f4aa/lotr_easy_mode.pdf" target="_blank">Fantasy Flight Games: LotR Easy Mode (2014.12.16)</a></li>
		<li><a href="https://images-cdn.fantasyflightgames.com/filer_public/64/ee/64ee44ca-825d-4c14-b77b-b0ad7581ee31/lotr_faq_18.pdf" target="_blank">Fantasy Flight Games: LotR FAQ (2016.02.02)</a></li>
		<li><a href="https://hallofbeorn.wordpress.com/beorns-path/" target="_blank">Hall of Beorn</a></li>
		<li><a href="http://ringsdb.com" target="_blank">RingsDB</a></li>
	</ul>
</body>

</html>
