<!DOCTYPE html>
<html>
<head>
	<title>MyTestQuestCardImage</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<table style=" padding: 10px;">
		<tr>
			<td id="panel0">
			</td>
			<td id="panel1">
			</td>
		</tr>
	</table>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "common/js/Logger", "artifact/js/QuestCard", "view/js/QuestCardImage"],
			function(React, ReactDOM, DOM, Logger, QuestCard, QuestCardImage)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";
				renderImage(0, QuestCard.properties[QuestCard.PTM1B_FLIES_AND_SPIDERS]);
				renderImage(1, QuestCard.properties[QuestCard.THFG2B_A_NEW_TERROR_ABROAD]);

				function renderImage(index, card)
				{
					var element = React.createElement(QuestCardImage,
					{
						card: card,
						width: 300,
					});

					ReactDOM.render(element, document.getElementById("panel" + index));
				}
			});
	</script>
</body>

</html>
