<!DOCTYPE html>
<html>
<head>
	<title>MyTestAttachmentCardImage</title>

	<link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
	<link rel="stylesheet" href="../../../src/view/css/style.css">

	<script src="../../../lib/requirejs/require-2.3.5.js"></script>
	<script src="../js/require-config.js"></script>
	<script src="../../../src/main.js"></script>

</head>
<body>
	<table style=" padding: 10px;">
		<tr>
			<td id="panel0">
			</td>
			<td id="panel1">
			</td>
		</tr>
	</table>
	<script>
		"use strict";

		require(["react", "react-dom", "react-dom-factories", "common/js/Logger", "artifact/js/AttachmentCard", "view/js/AttachmentCardImage"],
			function(React, ReactDOM, DOM, Logger, AttachmentCard, AttachmentCardImage)
			{
				window.LOGGER = new Logger();
				LOGGER.setTraceEnabled(false);
				LOGGER.setDebugEnabled(false);

				var resourceBase = "../../../src/view/resource/";
				renderImage(0, AttachmentCard.properties[AttachmentCard.A_BURNING_BRAND]);
				renderImage(1, AttachmentCard.properties[AttachmentCard.CLOAK_OF_LORIEN]);

				function renderImage(index, card)
				{
					var element = React.createElement(AttachmentCardImage,
					{
						card: card,
						width: 200,
					});

					ReactDOM.render(element, document.getElementById("panel" + index));
				}
			});
	</script>
</body>

</html>
