<!DOCTYPE html>
<html>
<head>
  <title>MyTestNewGamePanel</title>

  <link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
  <link rel="stylesheet" href="../../../src/view/css/style.css">

  <script src="../../../lib/requirejs/require-2.3.5.js"></script>
  <script src="../js/require-config.js"></script>
  <script src="../../../src/main.js"></script>

</head>
<body>
  <div id="panel"></div>
  <script>
    "use strict";

    require(["react", "react-dom", "react-dom-factories", "common/js/Logger", "view/js/NewGamePanel"],
      function(React, ReactDOM, DOM, Logger, NewGamePanel)
      {
        window.LOGGER = new Logger();
        LOGGER.setTraceEnabled(false);
        LOGGER.setDebugEnabled(false);

        var resourceBase = "../../../src/view/resource/";
        var newGamePanel = React.createElement(NewGamePanel,
        {
          callback: callback,
        });

        ReactDOM.render(DOM.div(
        {}, newGamePanel), document.getElementById("panel"));

        function callback(scenarioDeck, playerData)
        {
          LOGGER.info("callback() scenarioDeck = " + JSON.stringify(scenarioDeck));
          LOGGER.info("callback() playerData = " + JSON.stringify(playerData));
        }
      });
  </script>
</body>

</html>
