<!DOCTYPE html>
<html>
<head>
  <title>MyTestNewGamePanel</title>
  <link rel="stylesheet" href="../../../lib/tachyons/tachyons-4.8.1.css">
  <link rel="stylesheet" href="../../../src/view/css/style.css">

  <script src="../../../lib/immutable/immutable-3.8.1.min.js"></script>
  <script src="../../../lib/prop-types/prop-types-15.5.10.js"></script>
  <script src="../../../lib/qunitjs/qunit-2.4.0.js"></script>
  <script src="../../../lib/react/react-15.6.1.js"></script>
  <script src="../../../lib/create-react-class/create-react-class-15.6.0.js"></script>
  <script src="../../../lib/react-dom/react-dom-15.6.1.js"></script>
  <script src="../../../lib/react-dom-factories/react-dom-factories-1.0.1.js"></script>
  <script src="../../../lib/react-redux/react-redux-5.0.6.js"></script>
  <script src="../../../lib/redux/redux-3.7.2.js"></script>
  <script src="../js/MyTestNewGamePanel.js" type="module"></script>
</head>
<body>
  <div id="panel"></div>
</body>

</html>