body {
  background-image: url(../resource/wallpaper/MiddleEarthMap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

.bg-lotr-dark {
  /* SaddleBrown */
  background-color: #8B4513;
}

.bg-lotr-medium {
  /* Tan */
  background-color: #D2B48C;
}

.bg-lotr-light {
  /* Beige */
  background-color: #F5F5DC;
}

.bg-lotr-green {
  /* DarkSeaGreen */
  background-color: #8FBC8F;
}

.dataTable th {
  background-color: #555555;
  border: 1px solid LightGray;
  color: White;
}

.dataTable td {
  border: 1px solid LightGray;
}

.lotr-light {
  /* Beige */
  color: #F5F5DC;
}